<ion-view>
  <ion-nav-title>
    <img src="./img/taskify.png" width='80px' class='header-logo'>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <a class="item" href="#/app/type/{{type.id}}" ng-repeat="type in types">
        <div class="item-icon-left"><i class={{type.icon}}></i>
          <h2>{{type.title}}</h2>
          <span class="small-italic">{{type.sync.length - type.completed.length}} Tasks</span>
        </div>
        <div class="item-icon-right">
          <i class="icon ion-ios7-arrow-right"></i>
        </div>
      </a>
    </ion-list>
  </ion-content>
  <ion-footer-bar class='bar-stable'>
    <h1 class="title">{{user.totalEarned.$value | currency}}</h1>
  </ion-footer-bar>
</ion-view>
