# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

*.log

www/js/main.*
www/css/ionic.app.*
www/js/lib/.*
www/lib/
