<ion-view view-title="Image Categorization">
  <ion-content>

    <div class="list card">

      <div class="item item-icon-right">
        <h2>Choose the Best Category</h2>
        <i class="icon ion-ios7-help-outline" ng-click="openModal()"></i>
      </div>

      <div class="item item-image">
          <img width="100%" style="max-width:390px;" src="https://s3.amazonaws.com/bhtemplates/room2.jpg"/>
      </div>
      <div class="list">
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Kitchen
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Living
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Bed
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
            Bath
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-outline button-balanced">Submit</button>
    </div>

  </ion-content>
</ion-view>
