<ion-view view-title="Image Categorization">
  <ion-content>
    <div class="list card">
      <div class="item item-icon-right">
        <h2>Choose the Best Category</h2>
        <i class="icon ion-ios7-help-outline" ng-click="openModal()"></i>
      </div>
      <form>
        <div class="bounding-box" style="height: 165px; background-image: url({{categorization.val.image}})");
        <ion-list>
        </div>
        <label class="item item-radio" ng-repeat="cat in categorization.val.categories" ng-hide='{{cat == undefined}}'>
          <input type="radio" name="group" ng-model="formData.category", value="{{cat}}">
            <div class="item-content">
              {{cat}}
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </ion-list>
      </div>
      <div class="padding">
        <button class="button button-block button-outline button-balanced" ng-click="submitCat()">Submit</button>
      </div>
    </form>

  </ion-content>
</ion-view>
