<ion-view view-title="Image Filtering">
  <ion-content>
    <div>
      <div class='list list-inset'>
        <div class="item item-divider item-icon-right">
          Is the Image Family Appropriate?
          <i class="icon ion-ios7-help-outline" ng-click="openModal()"></i>
        </div>
        <div class="item">
          <span>Swipe right for YES, and left for NOPE</span>
        </div>
      </div>
      <td-cards>
        <td-card ng-repeat="card in cards"
                  on-destroy="cardDestroyed(card.$id)"
                  on-swipe-left="cardSwipedLeft(card.$id)"
                  on-swipe-right="cardSwipedRight(card.$id)"
                  on-partial-swipe="cardPartialSwipe(amt)"
                  class="card-{{$index}}">
          <div class="image">
            <div class="no-text">NOPE</div>
            <img ng-src="{{card.image}}">
            <div class="yes-text">YES</div>
          </div>
        </td-card>
      </td-cards>
    </div>
  </ion-content>
</ion-view>
