<ion-view view-title="Image Filtering">
  <ion-content>
    <div class='list list-inset'>
      <div class="item item-divider item-icon-right">
        Choose How You Feel
        <i class="icon ion-ios7-help-outline" ng-click="openModal()"></i>
      </div>
      <div class="item item-text-wrap">
        If you loved Firefly TV show, amazing Amazon price for entire series: about $27 BlueRay & $17 DVD.
      </div>
    </div>

    <div class="row button-bar bar-light">
      <a class="button button-clear"><i class="icon ion-close-circled"></i></a>
      <a class="button button-clear"><i class="icon ion-close"></i></a>
      <a class="button button-clear"><i class="icon ion-minus"></i></a>
      <a class="button button-clear"><i class="icon ion-checkmark"></i></a>
      <a class="button button-clear"><i class="icon ion-checkmark-circled"></i></a>
    </div>

    <div class="range">
      <input type="range" name="volume" min="0" max="4" value="2">
    </div>

    <div class="padding">
      <button class="button button-block button-outline button-balanced">Submit</button>
    </div>
  </ion-content>
</ion-view>
