<ion-view view-title="Information Search">
  <ion-content>
    <div class='list list-inset'>
      <div class="item item-divider item-icon-right">
        Provided Information
        <i class="icon ion-ios7-help-outline" ng-click="openModal()"></i>
      </div>
      <div class="item" ng-repeat='(key, value) in info_type.val.provided'>
        <span>{{key}}</span>
        <span class="superbold">{{value}}</span>
      </div>
    </div>
    <div class='list list-inset'>
        <div class="item item-divider">
          Please Provide
        </div>
        <div class="item item-input">
          <input type="text" placeholder="Website" ng-model='formData.response'>
        </div>
    </div>
    <div class="padding">
      <button class="button button-block button-outline button-dark" ng-click="openGoogle()">Open Browser</button>
      <button class="button button-block button-outline button-balanced" ng-click="submitCat()">Submit</button>
    </div>
  </ion-content>
</ion-view>
