<ion-view view-title="Image Categorization">
  <ion-content>

    <div class="list card">

      <div class="item item-icon-right">
        <h2>Choose the best category</h2>
        <i class="icon ion-ios7-help-outline" ng-click="openModal()"></i>
      </div>

      <div class="item item-image">
          <img width="100%" style="max-width:390px;" src="https://s3.amazonaws.com/bhtemplates/room2.jpg"/>
      </div>

      <a class="item" href="#">
        Kitchen
      </a>
      <a class="item" href="#">
        Living
      </a>
      <a class="item" href="#">
        Bath
      </a>
      <a class="item" href="#">
        Bed
      </a>

    </div>

  </ion-content>
</ion-view>
