<ion-view view-title="Information Search">
  <ion-content>
    <div class='list list-inset'>
      <div class="item item-divider">
        Information
      </div>
      <div class="item">
        <span>Restaurant Name:</span>
        <span class='item-note'>Angel's Dinner</span>
      </div>
      <div class="item">
        <span>Address</span>
        <span class='item-note'>310 Strander Blvd Tukwila, WA 98188</span>
      </div>
      <div class="item">
        <span>Phone Number</span>
        <span class='item-note'>(206) 241-4899</span>
      </div>
    </div>
    <div class='list list-inset'>
        <div class="item item-divider">
          Answer
        </div>
        <div class="item item-input">
          <input type="text" placeholder="Website">
        </div>
    </div>
    <div class="padding">
      <button class="button button-block button-outline button-balanced">Submit</button>
    </div>
  </ion-content>
</ion-view>
