<ion-view view-title="Information Search">
  <ion-content>
    <div class='list list-inset'>
      <div class="item item-divider item-icon-right">
        Provided Information
        <i class="icon ion-ios7-help-outline" ng-click="openModal()"></i>
      </div>
      <div class="item">
        <span>Restaurant Name:</span>
        <span class="superbold">Angel's Dinner</span>
      </div>
      <div class="item">
        <span>Address:</span>
        <span class="superbold">310 Strander Blvd Tukwila, WA 98188</span>
      </div>
      <div class="item">
        <span>Phone Number:</span>
        <span class="superbold">(206) 241-4899</span>
      </div>
    </div>
    <div class='list list-inset'>
        <div class="item item-divider">
          Please Provide
        </div>
        <div class="item item-input">
          <input type="text" placeholder="Website">
        </div>
    </div>
    <div class="padding">
      <button class="button button-block button-outline button-balanced">Submit</button>
    </div>
  </ion-content>
</ion-view>
